<%= simple_form_for ingredient, html: { class: "ingredient form" } do |f| %>
  <% if ingredient.errors.any? %>
    <div class="error-message">
      <%= ingredient.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.input :price %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>