<%= turbo_stream_from current_user, "ingredients" %>

<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="header">
      <h1>Ingredients</h1>
      <%= link_to "New ingredient",
                  new_ingredient_path,
                  class: "btn btn--primary",
                  data: { turbo_frame: dom_id(Ingredient.new) } %>
    </div>
  <% end %>

  <%= turbo_frame_tag Ingredient.new %>

  <%= turbo_frame_tag "ingredients" do %>
    <%= render @ingredients %>
  <% end %>
</main>